
@{
	ViewBag.Title = "OrderConfirmation";
	Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}




<h1 align="center" style="color:#2ad51d">Đơn hàng của bạn đã được ghi nhận, vui lòng chờ xác nhận qua cuộc gọi</h1>